<!-- Page header -->
<div class="section-lg bg-image bg-image-gradient" style="background-image: url(../../assets/images/background.jpg)">
  <div class="bg-white-06">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <h1>Pricing Table</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
</div>



<!-- Prices section -->
<div class="section-lg no-padding-top">
  <div class="container">
    <div class="row col-spacing-40">
      <!-- Prices box 1 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box no-border bg-white border-radius box-shadow-with-hover hover-float">
          <h6 class="font-weight-normal">Personal</h6>
          <div class="price">
            <h1 class="font-weight-normal">19</h1>
            <span>monthly</span>
          </div>
          <div class="price-features">
            <ul>
              <li>Unlimited User</li>
              <li>Unlimited Storage</li>
              <li>24/7 Support</li>
            </ul>
          </div>
          <a class="button button-md button-outline-dark-2 button-border-1px button-rounded" href="#">Order Now</a>
        </div>
      </div>
      <!-- Prices box 2 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box no-border bg-white border-radius box-shadow-with-hover hover-float">
          <h6 class="font-weight-normal">Business</h6>
          <div class="price">
            <h1 class="font-weight-normal">49</h1>
            <span>monthly</span>
          </div>
          <div class="price-features">
            <ul>
              <li>Unlimited User</li>
              <li>Unlimited Storage</li>
              <li>24/7 Support</li>
            </ul>
          </div>
          <a class="button button-md button-outline-dark-2 button-border-1px button-rounded" href="#">Order Now</a>
        </div>
      </div>
      <!-- Prices box 3 -->
      <div class="col-12 col-lg-4">
        <div class="prices-box no-border bg-white border-radius box-shadow-with-hover hover-float">
          <h6 class="font-weight-normal">Premium</h6>
          <div class="price">
            <h1 class="font-weight-normal">79</h1>
            <span>monthly</span>
          </div>
          <div class="price-features">
            <ul>
              <li>Unlimited User</li>
              <li>Unlimited Storage</li>
              <li>24/7 Support</li>
            </ul>
          </div>
          <a class="button button-md button-outline-dark-2 button-border-1px button-rounded" href="#">Order Now</a>
        </div>
      </div>
      <!-- end Prices box 3 -->
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Prices section -->
