<style>
  input.invalid,
  textarea.invalid{
    border-bottom: 1px solid #dc3545;
  }
</style>

<!-- Page header -->
<div class="section-xl bg-image parallax" style="background-image: url(../../assets/images/background.jpg)">
  <div class="bg-white-06">
    <div class="container text-center">
      <h1 class="font-weight-light">Contact Clean</h1>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ul>
      </nav>
    </div><!-- end container -->
  </div>
</div>


<!-- Google Maps section -->
<div class="section">
  <div class="container">
<!--    <div id="map1" class="gmap gmap-md" data-latitude="51.513569" data-longitude="-0.123443"></div>-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87073.64305438189!2d28.78813705732451!3d46.999964773344466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c3628b769a1%3A0x37d1d6305749dd3c!2sChisin%C3%A1u%2C%20Moldavia!5e0!3m2!1ses!2ses!4v1574634835496!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div><!-- end container -->
</div>
<!-- end Google Maps section -->

<!-- Contact section -->
<div class="section no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="margin-bottom-30">
          <h6 class="font-weight-normal margin-0">Phone:</h6>
          <p>+(987) 654 321 01</p>
        </div>
        <div class="margin-bottom-30">
          <h6 class="font-weight-normal margin-0">Email:</h6>
          <p>contact@valeriasafonova.com</p>
        </div>
        <div>
          <h6 class="font-weight-normal margin-0">Address:</h6>
          <p>Chisinau</p>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="contact-form">
          <form [formGroup]="form" (ngSubmit)="sendEmail()" class="form-style-3">
            <div class="form-row">
              <div class="col-12 col-sm-6">
                <input
                  formControlName="name"
                  type="text"
                  placeholder="Name"
                  required
                  [className]="name.touched && name.invalid ? 'invalid' : ''"
                >
              </div>
              <div class="col-12 col-sm-6">
                <input
                  formControlName="email"
                  type="email"
                  placeholder="E-Mail"
                  required
                  [className]="email.touched && email.invalid ? 'invalid' : ''"
                >
              </div>
            </div>
            <input
              formControlName="subject"
              type="text"
              placeholder="Subject"
              required
              [className]="subject.touched && subject.invalid ? 'invalid' : ''"
            >
            <textarea
              formControlName="message"
              placeholder="Message"
              [className]="message.touched && message.invalid ? 'invalid' : ''"
            >
            </textarea>
            <div class="error_messages">
              <div *ngIf="name.touched && name.invalid" class="user_messages">
                <div class="alert alert-danger" *ngIf="name.errors.required">User is required</div>
                <div class="alert alert-danger" *ngIf="name.errors.minlength">User should be minimum {{ name.errors.minlength.requiredLength }} characters</div>
                <div class="alert alert-danger" *ngIf="name.errors.maxlength">User should be maximum {{ name.errors.maxlength.requiredLength }} characters</div>
              </div>
              <div *ngIf="email.touched && email.invalid" class="email_messages">
                <div class="alert alert-danger" *ngIf="email.errors.required">Email is required</div>
                <div class="alert alert-danger" *ngIf="email.errors.email">Email is not valid</div>
                <div class="alert alert-danger" *ngIf="email.errors.minlength">Email should be inimum {{ email.errors.minlength.requiredLength }} characters</div>
                <div class="alert alert-danger" *ngIf="email.errors.maxlength">Email should be maximum {{ email.errors.maxlength.requiredLength }} characters</div>
              </div>
              <div *ngIf="subject.touched && subject.invalid" class="subject_messages">
                <div class="alert alert-danger" *ngIf="subject.errors.required">Subject is required</div>
                <div class="alert alert-danger" *ngIf="subject.errors.minlength">Subject should be inimum {{ subject.errors.minlength.requiredLength }} characters</div>
                <div class="alert alert-danger" *ngIf="subject.errors.maxlength">Subject should be maximum {{ subject.errors.maxlength.requiredLength }} characters</div>
              </div>
              <div *ngIf="message.touched && message.invalid" class="subject_messages">
                <div class="alert alert-danger" *ngIf="message.errors.required">Message is required</div>
                <div class="alert alert-danger" *ngIf="message.errors.minlength">Message should be inimum {{ message.errors.minlength.requiredLength }} characters</div>
                <div class="alert alert-danger" *ngIf="message.errors.maxlength">Message should be maximum {{ message.errors.maxlength.requiredLength }} characters</div>
              </div>
            </div>
            <div class="text-md-right">
              <button class="button button-lg button-border-1px button-outline-dark-2" type="submit">Send Message</button>
            </div>
          </form>
          <!-- Submit result -->
          <div class="submit-result">
            <span id="success">Thank you! Your Message has been sent.</span>
            <span id="error">Something went wrong, Please try again!</span>
          </div>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Contact section -->
